---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <p>Hi, my name is </p>
      <h1> Matthew Sobczyk</h1>
      <p>I'm a <a> Backend Engineer  </a> specializing in <a>cloud-native </a> development.</p>
      <p>My fervor extends beyond code; I am an aficionado of <a>financial markets </a>, constantly learing new methods of technical analysis.
      When not immersed in the <a>digital</a> realm, you'll find me conquering peaks and exploring the world of <a>mountaineering</a>. </p><p>Scaling heights both in code and on mountain slopes, the thrill of the climb is where I find my inspiration.</p>
    </div>

    <div class="hero-image-container">
      <picture>
        <img class="hero-image" alt="Illustration of person reading a book" src="/assets/hero.jpg"" width="550" height="466"\>
      </picture>
      <p class="caption">
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    display: flex;
    flex: 1;
    gap: 5em;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    max-height: 700px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
